:root {
    --primary-color: #4B5563;
}

.nav {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

.buttons {
    display: flex;
    gap: 1rem;

}

.buttons button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.buttons button.active {
    color: #667eea;
    font-weight: 700;
}